Source: checklogfile
Section: admin
Priority: extra
Maintainer: Ingo Oeser <nightlyone@googlemail.com>
Uploaders: Mathias Lafeldt <mathias.lafeldt@gmail.com>, Mathias Lafeldt <mlafeldt@jimdo.com>, Ingo Oeser <ingo@jimdo.com>
Build-Depends: debhelper (>= 8.0.0), golang-go, git-core, mercurial, rsync, ca-certificates
Standards-Version: 3.9.2
Homepage: https://github.com/nightlyone/checklogfile
Vcs-Git: git://github.com/nightlyone/checklogfile.git

Package: checklogfile
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, nagios-plugins-common
Replaces: check-logfiles
Conflicts: check-logfiles
Description: Nagios compatible logfile checker based on reguluar expressions
